<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile"> Doc Index</a>
  <div class="nav-content">
         <ul>
            <li><a href="/7-0/admin_guide/7-0/homenav.html">Greenplum Database® 7.0 Beta Documentation</a></li>
            <li class="has_submenu"><a href="/7-0/admin_guide/admin_guide.html">Administrator Guide</a><ul>
                  <li class="has_submenu"><a href="/7-0/admin_guide/intro/partI.html">Greenplum Database Concepts</a><ul>
                        <li><a href="/7-0/admin_guide/intro/arch_overview.html">About the Greenplum Architecture</a></li>
                        <li><a href="/7-0/admin_guide/intro/about_utilities.html">About Management and Monitoring Utilities</a></li>
                        <li class="has_submenu"><a href="/7-0/admin_guide/intro/about_mvcc.html">About Concurrency Control in Greenplum Database</a><ul>
                              <li><a href="/7-0/admin_guide/intro/mvcc_example.html">Example of Managing Transaction IDs</a></li>
                           </ul>
                        </li>
                        <li><a href="/7-0/admin_guide/intro/about_loading.html">About Parallel Data Loading</a></li>
                        <li><a href="/7-0/admin_guide/intro/about_ha.html">About Redundancy and Failover in Greenplum Database</a></li>
                        <li><a href="/7-0/admin_guide/intro/about_statistics.html">About Database Statistics in Greenplum Database</a></li>
                     </ul>
                  </li>
                  <li class="has_submenu"><a href="/7-0/admin_guide/managing/partII.html">Managing a Greenplum System</a><ul>
                        <li><a href="/7-0/admin_guide/managing/versioning.html">About the Greenplum Database Release Version Number</a></li>
                        <li><a href="/7-0/admin_guide/managing/startstop.html">Starting and Stopping Greenplum Database</a></li>
                        <li class="has_submenu"><a href="/7-0/admin_guide/access_db/topics/g-accessing-the-database.html">Accessing the Database</a><ul>
                              <li><a href="/7-0/admin_guide/access_db/topics/g-establishing-a-database-session.html">Establishing a Database Session</a></li>
                              <li><a href="/7-0/admin_guide/access_db/topics/g-supported-client-applications.html">Supported Client Applications</a></li>
                              <li><a href="/7-0/admin_guide/access_db/topics/g-greenplum-database-client-applications.html">Greenplum Database Client Applications</a></li>
                              <li><a href="/7-0/admin_guide/access_db/topics/g-connecting-with-psql.html">Connecting with psql</a></li>
                              <li><a href="/7-0/admin_guide/access_db/topics/g-database-application-interfaces.html">Database Application Interfaces</a></li>
                              <li><a href="/7-0/admin_guide/access_db/topics/g-troubleshooting-connection-problems.html">Troubleshooting Connection Problems</a></li>
                           </ul>
                        </li>
                        <li class="has_submenu"><a href="/7-0/admin_guide/topics/g-configuring-the-greenplum-system.html">Configuring the Greenplum Database System</a><ul>
                              <li><a href="/7-0/admin_guide/topics/g-about-greenplum-master-and-local-parameters.html">About Greenplum Database Master and Local Parameters</a></li>
                              <li class="has_submenu"><a href="/7-0/admin_guide/topics/g-setting-configuration-parameters.html">Setting Configuration Parameters</a><ul>
                                    <li><a href="/7-0/admin_guide/topics/g-setting-a-local-configuration-parameter.html">Setting a Local Configuration Parameter</a></li>
                                    <li class="has_submenu"><a href="/7-0/admin_guide/topics/g-setting-a-master-configuration-parameter.html">Setting a Master Configuration Parameter</a><ul>
                                          <li><a href="/7-0/admin_guide/topics/g-setting-parameters-at-the-system-level.html">Setting Parameters at the System Level</a></li>
                                          <li><a href="/7-0/admin_guide/topics/g-setting-parameters-at-the-database-level.html">Setting Parameters at the Database Level</a></li>
                                          <li><a href="/7-0/admin_guide/topics/g-setting-parameters-at-the-role-level.html">Setting Parameters at the Role Level</a></li>
                                          <li><a href="/7-0/admin_guide/topics/g-setting-parameters-in-a-session.html">Setting Parameters in a Session</a></li>
                                       </ul>
                                    </li>
                                 </ul>
                              </li>
                              <li><a href="/7-0/admin_guide/topics/g-viewing-server-configuration-parameter-settings.html">Viewing Server Configuration Parameter Settings</a></li>
                              <li><a href="/7-0/admin_guide/topics/g-configuration-parameter-categories.html">Configuration Parameter Categories</a></li>
                           </ul>
                        </li>
                        <li><a href="/7-0/admin_guide/managing/compression.html">Enabling Compression</a></li>
                        <li><a href="/7-0/admin_guide/managing/proxy-ic.html">Configuring Proxies for the Greenplum Interconnect</a></li>
                        <li class="has_submenu"><a href="/7-0/admin_guide/highavail/topics/g-enabling-high-availability-features.html">Enabling High Availability and Data Consistency Features</a><ul>
                              <li class="has_submenu"><a href="/7-0/admin_guide/highavail/topics/g-overview-of-high-availability-in-greenplum-database.html">Overview of Greenplum Database High Availability</a><ul>
                                    <li><a href="/7-0/admin_guide/highavail/topics/g-overview-of-segment-mirroring.html">Overview of Segment Mirroring</a></li>
                                    <li><a href="/7-0/admin_guide/highavail/topics/g-overview-of-master-mirroring.html">Overview of Master Mirroring</a></li>
                                 </ul>
                              </li>
                              <li class="has_submenu"><a href="/7-0/admin_guide/highavail/topics/g-enabling-mirroring-in-greenplum-database.html">Enabling Mirroring in Greenplum Database</a><ul>
                                    <li><a href="/7-0/admin_guide/highavail/topics/g-enabling-segment-mirroring.html">Enabling Segment Mirroring</a></li>
                                    <li><a href="/7-0/admin_guide/highavail/topics/g-enabling-master-mirroring.html">Enabling Master Mirroring</a></li>
                                 </ul>
                              </li>
                              <li class="has_submenu"><a href="/7-0/admin_guide/highavail/topics/g-detecting-a-failed-segment.html">How Greenplum Database Detects a Failed Segment</a><ul>
                                    <li><a href="/7-0/admin_guide/highavail/topics/g-checking-for-failed-segments.html">Checking for Failed Segments</a></li>
                                 </ul>
                              </li>
                              <li><a href="/7-0/admin_guide/highavail/topics/g-understanding-segment-recovery.html">Understanding Segment Recovery</a></li>
                              <li><a href="/7-0/admin_guide/highavail/topics/g-recovering-from-segment-failures.html">Recovering from Segment Failures</a></li>
                              <li class="has_submenu"><a href="/7-0/admin_guide/highavail/topics/g-recovering-a-failed-master.html">Recovering a Failed Master</a><ul>
                                    <li><a href="/7-0/admin_guide/highavail/topics/g-restoring-master-mirroring-after-a-recovery.html">Restoring Master Mirroring After a Recovery</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                        <li class="has_submenu"><a href="/7-0/admin_guide/managing/backup-main.html">Backing Up and Restoring Databases</a><ul>
                              <li><a href="/7-0/admin_guide/managing/backup-overview.html">Backup and Restore Overview</a></li>
                              <li class="has_submenu"><a href="/7-0/admin_guide/managing/backup-gpbackup.html">Parallel Backup with gpbackup and gprestore</a><ul>
                                    <li><a href="/7-0/admin_guide/managing/backup-gpbackup-incremental.html">Creating and Using Incremental Backups with gpbackup and gprestore</a></li>
                                    <li><a href="/7-0/admin_guide/managing/backup-boostfs.html">Using gpbackup and gprestore with BoostFS</a></li>
                                    <li class="has_submenu"><a href="/7-0/admin_guide/managing/backup-plugins.html">Using gpbackup Storage Plugins</a><ul>
                                          <li><a href="/7-0/admin_guide/managing/backup-s3-plugin.html">Using the S3 Storage Plugin with gpbackup and gprestore</a></li>
                                          <li class="has_submenu"><a href="/7-0/admin_guide/managing/backup-ddboost-plugin.html">Using the DD Boost Storage Plugin with gpbackup, gprestore, and gpbackup_manager</a><ul>
                                                <li><a href="/7-0/admin_guide/managing/replication-ddb.html">Replicating Backups</a></li>
                                             </ul>
                                          </li>
                                       </ul>
                                    </li>
                                    <li class="has_submenu"><a href="/7-0/admin_guide/managing/backup-plugin-api.html">Backup/Restore Storage Plugin API </a><ul>
                                          <li><a href="/7-0/admin_guide/managing/plugin_api/backup_data.html">backup_data</a></li>
                                          <li><a href="/7-0/admin_guide/managing/plugin_api/backup_file.html">backup_file</a></li>
                                          <li><a href="/7-0/admin_guide/managing/plugin_api/cleanup_plugin_for_backup.html">cleanup_plugin_for_backup</a></li>
                                          <li><a href="/7-0/admin_guide/managing/plugin_api/cleanup_plugin_for_restore.html">cleanup_plugin_for_restore</a></li>
                                          <li><a href="/7-0/admin_guide/managing/plugin_api/delete_backup.html">delete_backup</a></li>
                                          <li><a href="/7-0/admin_guide/managing/plugin_api/plugin_api_version.html">plugin_api_version</a></li>
                                          <li><a href="/7-0/admin_guide/managing/plugin_api/restore_data.html">restore_data</a></li>
                                          <li><a href="/7-0/admin_guide/managing/plugin_api/restore_data_subset.html">restore_data_subset</a></li>
                                          <li><a href="/7-0/admin_guide/managing/plugin_api/restore_file.html">restore_file</a></li>
                                          <li><a href="/7-0/admin_guide/managing/plugin_api/setup_plugin_for_backup.html">setup_plugin_for_backup</a></li>
                                          <li><a href="/7-0/admin_guide/managing/plugin_api/setup_plugin_for_restore.html">setup_plugin_for_restore</a></li>
                                       </ul>
                                    </li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                        <li class="has_submenu"><a href="/7-0/admin_guide/expand/expand-main.html">Expanding a Greenplum System</a><ul>
                              <li><a href="/7-0/admin_guide/expand/expand-overview.html">System Expansion Overview</a></li>
                              <li><a href="/7-0/admin_guide/expand/expand-planning.html">Planning Greenplum System Expansion</a></li>
                              <li><a href="/7-0/admin_guide/expand/expand-nodes.html">Preparing and Adding Hosts</a></li>
                              <li><a href="/7-0/admin_guide/expand/expand-initialize.html">Initializing New Segments</a></li>
                              <li><a href="/7-0/admin_guide/expand/expand-redistribute.html">Redistributing Tables</a></li>
                              <li><a href="/7-0/admin_guide/expand/expand-post.html">Post Expansion Tasks</a></li>
                           </ul>
                        </li>
                        <li><a href="/7-0/admin_guide/managing/gpcopy-migrate.html">Migrating Data with gpcopy</a></li>
                        <li><a href="/7-0/admin_guide/managing/monitor.html">Monitoring a Greenplum System</a></li>
                        <li><a href="/7-0/admin_guide/managing/maintain.html">Routine System Maintenance Tasks</a></li>
                        <li><a href="/7-0/admin_guide/monitoring/monitoring.html">Recommended Monitoring and Maintenance Tasks</a></li>
                     </ul>
                  </li>
                  <li class="has_submenu"><a href="/7-0/admin_guide/partIII.html">Managing Greenplum Database Access</a><ul>
                        <li class="has_submenu"><a href="/7-0/admin_guide/client_auth.html">Configuring Client Authentication</a><ul>
                              <li><a href="/7-0/admin_guide/ldap.html">Using LDAP Authentication with TLS/SSL </a></li>
                              <li><a href="/7-0/admin_guide/kerberos.html">Using Kerberos Authentication</a></li>
                              <li><a href="/7-0/admin_guide/kerberos-lin-client.html">Configuring Kerberos for Linux Clients</a></li>
                              <li><a href="/7-0/admin_guide/kerberos-win-client.html">Configuring Kerberos For Windows Clients</a></li>
                           </ul>
                        </li>
                        <li><a href="/7-0/admin_guide/roles_privs.html">Managing Roles and Privileges</a></li>
                     </ul>
                  </li>
                  <li class="has_submenu"><a href="/7-0/admin_guide/ddl/ddl.html">Defining Database Objects</a><ul>
                        <li><a href="/7-0/admin_guide/ddl/ddl-database.html">Creating and Managing Databases</a></li>
                        <li><a href="/7-0/admin_guide/ddl/ddl-tablespace.html">Creating and Managing Tablespaces</a></li>
                        <li><a href="/7-0/admin_guide/ddl/ddl-schema.html">Creating and Managing Schemas</a></li>
                        <li><a href="/7-0/admin_guide/ddl/ddl-table.html">Creating and Managing Tables</a></li>
                        <li><a href="/7-0/admin_guide/ddl/ddl-storage.html">Choosing the Table Storage Model</a></li>
                        <li><a href="/7-0/admin_guide/ddl/ddl-partition.html">Partitioning Large Tables</a></li>
                        <li><a href="/7-0/admin_guide/ddl/ddl-sequence.html">Creating and Using Sequences</a></li>
                        <li><a href="/7-0/admin_guide/ddl/ddl-index.html">Using Indexes in Greenplum Database</a></li>
                        <li class="has_submenu"><a href="/7-0/admin_guide/ddl/ddl-view.html">Creating and Managing Views</a><ul>
                              <li><a href="/7-0/admin_guide/ddl/ddl-view-best-practices.html">Best Practices when Creating Views</a></li>
                              <li class="has_submenu"><a href="/7-0/admin_guide/ddl/ddl-view-find-depend.html">Working with View Dependencies</a><ul>
                                    <li><a href="/7-0/admin_guide/ddl/ddl-view-find-depend.html#topic_find_v_examples">Finding View Dependencies</a></li>
                                 </ul>
                              </li>
                              <li><a href="/7-0/admin_guide/ddl/ddl-view-storage.html">About View Storage in Greenplum Database</a></li>
                           </ul>
                        </li>
                        <li><a href="/7-0/admin_guide/ddl/ddl-mat-view.html">Creating and Managing Materialized Views</a></li>
                     </ul>
                  </li>
                  <li><a href="/7-0/admin_guide/distribution.html">Distribution and Skew</a></li>
                  <li><a href="/7-0/admin_guide/dml.html">Inserting, Updating, and Deleting Data</a></li>
                  <li class="has_submenu"><a href="/7-0/admin_guide/query/topics/query.html">Querying Data</a><ul>
                        <li><a href="/7-0/admin_guide/query/topics/parallel-proc.html">About Greenplum Query Processing</a></li>
                        <li class="has_submenu"><a href="/7-0/admin_guide/query/topics/query-piv-optimizer.html">About GPORCA</a><ul>
                              <li><a href="/7-0/admin_guide/query/topics/query-piv-opt-overview.html">Overview of GPORCA</a></li>
                              <li><a href="/7-0/admin_guide/query/topics/query-piv-opt-enable.html">Enabling and Disabling GPORCA</a></li>
                              <li><a href="/7-0/admin_guide/query/topics/query-piv-opt-root-partition.html">Collecting Root Partition Statistics</a></li>
                              <li><a href="/7-0/admin_guide/query/topics/query-piv-opt-notes.html">Considerations when Using GPORCA</a></li>
                              <li><a href="/7-0/admin_guide/query/topics/query-piv-opt-features.html">GPORCA Features and Enhancements</a></li>
                              <li><a href="/7-0/admin_guide/query/topics/query-piv-opt-changed.html">Changed Behavior with GPORCA</a></li>
                              <li><a href="/7-0/admin_guide/query/topics/query-piv-opt-limitations.html">GPORCA Limitations</a></li>
                              <li><a href="/7-0/admin_guide/query/topics/query-piv-opt-fallback.html">Determining the Query Optimizer that is Used</a></li>
                              <li><a href="/7-0/admin_guide/query/topics/query-piv-uniform-part-tbl.html">About Uniform Multi-level Partitioned Tables</a></li>
                           </ul>
                        </li>
                        <li><a href="/7-0/admin_guide/query/topics/defining-queries.html">Defining Queries</a></li>
                        <li><a href="/7-0/admin_guide/query/topics/CTE-query.html">WITH Queries (Common Table Expressions)</a></li>
                        <li><a href="/7-0/admin_guide/query/topics/functions-operators.html">Using Functions and Operators</a></li>
                        <li><a href="/7-0/admin_guide/query/topics/json-data.html">Working with JSON Data</a></li>
                        <li><a href="/7-0/admin_guide/query/topics/xml-data.html">Working with XML Data</a></li>
                        <li class="has_submenu"><a href="/7-0/admin_guide/textsearch/full-text-search.html">Using Full Text Search</a><ul>
                              <li><a href="/7-0/admin_guide/textsearch/intro.html">About Full Text Search</a></li>
                              <li><a href="/7-0/admin_guide/textsearch/tables-indexes.html">Searching Text in Database Tables</a></li>
                              <li><a href="/7-0/admin_guide/textsearch/controlling.html">Controlling Text Search</a></li>
                              <li><a href="/7-0/admin_guide/textsearch/features.html">Additional Text Search Features</a></li>
                              <li><a href="/7-0/admin_guide/textsearch/parsers.html">Text Search Parsers</a></li>
                              <li><a href="/7-0/admin_guide/textsearch/dictionaries.html">Text Search Dictionaries</a></li>
                              <li><a href="/7-0/admin_guide/textsearch/configuration.html">Text Search Configuration Example</a></li>
                              <li><a href="/7-0/admin_guide/textsearch/testing.html">Testing and Debugging Text Search</a></li>
                              <li><a href="/7-0/admin_guide/textsearch/gist-gin.html">GiST and GIN Indexes for Text Search </a></li>
                              <li><a href="/7-0/admin_guide/textsearch/psql-support.html">psql Support</a></li>
                              <li><a href="/7-0/admin_guide/textsearch/limitations.html">Limitations</a></li>
                           </ul>
                        </li>
                        <li><a href="/7-0/admin_guide/query/topics/gp-mapreduce.html">Using Greenplum MapReduce</a></li>
                        <li><a href="/7-0/admin_guide/query/topics/query-performance.html">Query Performance</a></li>
                        <li><a href="/7-0/admin_guide/query/topics/spill-files.html">Managing Spill Files Generated by Queries</a></li>
                        <li><a href="/7-0/admin_guide/query/topics/query-profiling.html">Query Profiling</a></li>
                     </ul>
                  </li>
                  <li class="has_submenu"><a href="/7-0/admin_guide/external/g-working-with-file-based-ext-tables.html">Working with External Data</a><ul>
                        <li><a href="http://localhost:9292/7-0/admin_guide/external/pxf-overview.html">Accessing External Data with PXF</a></li>
                        <li class="has_submenu"><a href="/7-0/admin_guide/external/g-external-tables.html">Defining External Tables</a><ul>
                              <li><a href="/7-0/admin_guide/external/g-file-protocol.html">file:// Protocol</a></li>
                              <li><a href="/7-0/admin_guide/external/g-gpfdist-protocol.html">gpfdist:// Protocol</a></li>
                              <li><a href="/7-0/admin_guide/external/g-gpfdists-protocol.html">gpfdists:// Protocol</a></li>
                              <li><a href="/7-0/admin_guide/external/g-pxf-protocol.html">pxf:// Protocol</a></li>
                              <li><a href="/7-0/admin_guide/external/g-s3-protocol.html">s3:// Protocol</a></li>
                              <li><a href="/7-0/admin_guide/external/g-accessing-ext-files-custom-protocol.html">Using a Custom Protocol</a></li>
                              <li><a href="/7-0/admin_guide/external/g-handling-errors-ext-table-data.html">Handling Errors in External Table Data</a></li>
                              <li><a href="/7-0/admin_guide/external/g-creating-and-using-web-external-tables.html">Creating and Using External Web Tables</a></li>
                              <li class="has_submenu"><a href="/7-0/admin_guide/external/g-creating-external-tables---examples.html">Examples for Creating External Tables</a><ul>
                                    <li><a href="/7-0/admin_guide/external/g-example-1-single-gpfdist-instance-on-single-nic-machine.html">Example 1—Single gpfdist instance on single-NIC machine</a></li>
                                    <li><a href="/7-0/admin_guide/external/g-example-2-multiple-gpfdist-instances.html">Example 2—Multiple gpfdist instances </a></li>
                                    <li><a href="/7-0/admin_guide/external/g-example-3-multiple-gpfdists-instances.html">Example 3—Multiple gpfdists instances </a></li>
                                    <li><a href="/7-0/admin_guide/external/g-example-4-single-gpfdist-instance-with-error-logging.html">Example 4—Single gpfdist instance with error logging</a></li>
                                    <li><a href="/7-0/admin_guide/external/g-example-5-text-format-on-a-hadoop-distributed-file-server.html">Example 5—TEXT Format on a Hadoop Distributed File Server</a></li>
                                    <li><a href="/7-0/admin_guide/external/g-example-6-multiple-files-in-csv-format-with-header-rows.html">Example 6—Multiple files in CSV format with header rows</a></li>
                                    <li><a href="/7-0/admin_guide/external/g-example-7-readable-web-external-table-with-script.html">Example 7—Readable External Web Table with Script</a></li>
                                    <li><a href="/7-0/admin_guide/external/g-example-8-writable-external-table-with-gpfdist.html">Example 8—Writable External Table with gpfdist</a></li>
                                    <li><a href="/7-0/admin_guide/external/g-example-9-writable-external-web-table-with-script.html">Example 9—Writable External Web Table with Script</a></li>
                                    <li><a href="/7-0/admin_guide/external/g-example-10-readable-and-writable-external-tables-with-xml-transformations.html">Example 10—Readable and Writable External Tables with XML Transformations</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                        <li class="has_submenu"><a href="/7-0/admin_guide/external/g-foreign.html">Accessing External Data with Foreign Tables</a><ul>
                              <li><a href="/7-0/admin_guide/external/g-devel-fdw.html">Writing a Foreign Data Wrapper</a></li>
                           </ul>
                        </li>
                        <li><a href="/7-0/admin_guide/external/g-using-the-greenplum-parallel-file-server--gpfdist-.html">Using the Greenplum Parallel File Server (gpfdist)</a></li>
                     </ul>
                  </li>
                  <li class="has_submenu"><a href="/7-0/admin_guide/load/topics/g-loading-and-unloading-data.html">Loading and Unloading Data</a><ul>
                        <li><a href="/7-0/admin_guide/load/topics/g-loading-data-using-an-external-table.html">Loading Data Using an External Table</a></li>
                        <li class="has_submenu"><a href="/7-0/admin_guide/load/topics/g-loading-and-writing-non-hdfs-custom-data.html">Loading and Writing Non-HDFS Custom Data</a><ul>
                              <li class="has_submenu"><a href="/7-0/admin_guide/load/topics/g-using-a-custom-format.html">Using a Custom Format</a><ul>
                                    <li><a href="/7-0/admin_guide/load/topics/g-importing-and-exporting-fixed-width-data.html">Importing and Exporting Fixed Width Data</a></li>
                                    <li><a href="/7-0/admin_guide/load/topics/g-examples-read-fixed-width-data.html">Examples: Read Fixed-Width Data</a></li>
                                 </ul>
                              </li>
                              <li><a href="/7-0/admin_guide/load/topics/g-using-a-custom-protocol.html">Using a Custom Protocol</a></li>
                           </ul>
                        </li>
                        <li class="has_submenu"><a href="/7-0/admin_guide/load/topics/g-handling-load-errors.html">Handling Load Errors</a><ul>
                              <li><a href="/7-0/admin_guide/load/topics/g-define-an-external-table-with-single-row-error-isolation.html">Define an External Table with Single Row Error Isolation</a></li>
                              <li><a href="/7-0/admin_guide/load/topics/g-create-an-error-table-and-declare-a-reject-limit.html">Capture Row Formatting Errors and Declare a Reject Limit </a></li>
                              <li><a href="/7-0/admin_guide/load/topics/g-viewing-bad-rows-in-the-error-table-or-error-log.html">Viewing Bad Rows in the Error Log</a></li>
                              <li><a href="/7-0/admin_guide/load/topics/g-moving-data-between-tables.html">Moving Data between Tables</a></li>
                           </ul>
                        </li>
                        <li><a href="/7-0/admin_guide/load/topics/g-loading-data-with-gpload.html">Loading Data with gpload</a></li>
                        <li><a href="/7-0/admin_guide/external/pxf-overview.html">Accessing External Data with PXF</a></li>
                        <li><a href="https://greenplum.docs.pivotal.io/streaming-server/1-5/kafka/intro.html" target="_blank" rel="external noopener">Loading Kafka Data with the Greenplum Streaming Server</a></li>
                        <li><a href="https://greenplum.docs.pivotal.io/streaming-server/1-5/intro.html" target="_blank" rel="external noopener">Loading Data with the Greenplum Streaming Server</a></li>
                        <li><a href="https://greenplum-spark.docs.pivotal.io" target="_blank" rel="external noopener">Using the Greenplum Connector for Apache Spark</a></li>
                        <li><a href="https://greenplum-informatica.docs.pivotal.io" target="_blank" rel="external noopener">Using the Greenplum Connector for Informatica</a></li>
                        <li><a href="https://greenplum.docs.pivotal.io/connectors/apache-nifi/1-0/loading.html" target="_blank" rel="external noopener">Loading Data with the Greenplum Connector for Apache NiFi</a></li>
                        <li><a href="/7-0/admin_guide/load/topics/transforming-xml-data.html">Transforming External Data with gpfdist and gpload</a></li>
                        <li><a href="/7-0/admin_guide/load/topics/g-loading-data-with-copy.html">Loading Data with COPY</a></li>
                        <li><a href="/7-0/admin_guide/load/topics/g-running-copy-in-single-row-error-isolation-mode.html">Running COPY in Single Row Error Isolation Mode</a></li>
                        <li><a href="/7-0/admin_guide/load/topics/g-optimizing-data-load-and-query-performance.html">Optimizing Data Load and Query Performance</a></li>
                        <li class="has_submenu"><a href="/7-0/admin_guide/load/topics/g-unloading-data-from-greenplum-database.html">Unloading Data from Greenplum Database</a><ul>
                              <li class="has_submenu"><a href="/7-0/admin_guide/load/topics/g-defining-a-file-based-writable-external-table.html">Defining a File-Based Writable External Table</a><ul>
                                    <li><a href="/7-0/admin_guide/load/topics/g-example-1-greenplum-file-server-gpfdist.html">Example 1—Greenplum file server (gpfdist)</a></li>
                                    <li><a href="/7-0/admin_guide/load/topics/g-example-2-hadoop-file-server.html">Example 2—Hadoop file server (pxf)</a></li>
                                 </ul>
                              </li>
                              <li class="has_submenu"><a href="/7-0/admin_guide/load/topics/g-defining-a-command-based-writable-external-web-table.html">Defining a Command-Based Writable External Web Table</a><ul>
                                    <li><a href="/7-0/admin_guide/load/topics/g-disabling-execute-for-web-or-writable-external-tables.html">Disabling EXECUTE for Web or Writable External Tables</a></li>
                                 </ul>
                              </li>
                              <li><a href="/7-0/admin_guide/load/topics/g-unloading-data-using-a-writable-external-table.html">Unloading Data Using a Writable External Table</a></li>
                              <li><a href="/7-0/admin_guide/load/topics/g-unloading-data-using-copy.html">Unloading Data Using COPY</a></li>
                           </ul>
                        </li>
                        <li class="has_submenu"><a href="/7-0/admin_guide/load/topics/g-formatting-data-files.html">Formatting Data Files</a><ul>
                              <li><a href="/7-0/admin_guide/load/topics/g-formatting-rows.html">Formatting Rows</a></li>
                              <li><a href="/7-0/admin_guide/load/topics/g-formatting-columns.html">Formatting Columns</a></li>
                              <li><a href="/7-0/admin_guide/load/topics/g-representing-null-values.html">Representing NULL Values</a></li>
                              <li class="has_submenu"><a href="/7-0/admin_guide/load/topics/g-escaping.html">Escaping</a><ul>
                                    <li><a href="/7-0/admin_guide/load/topics/g-escaping-in-text-formatted-files.html">Escaping in Text Formatted Files</a></li>
                                    <li><a href="/7-0/admin_guide/load/topics/g-escaping-in-csv-formatted-files.html">Escaping in CSV Formatted Files</a></li>
                                 </ul>
                              </li>
                              <li><a href="/7-0/admin_guide/load/topics/g-character-encoding.html">Character Encoding</a></li>
                           </ul>
                        </li>
                        <li class="has_submenu"><a href="/7-0/admin_guide/load/topics/g-example-custom-data-access-protocol.html">Example Custom Data Access Protocol </a><ul>
                              <li class="has_submenu"><a href="/7-0/admin_guide/load/topics/g-installing-the-external-table-protocol.html">Installing the External Table Protocol</a><ul>
                                    <li><a href="/7-0/admin_guide/load/topics/g-gpextprotocal.c.html">gpextprotocal.c</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                     </ul>
                  </li>
                  <li class="has_submenu"><a href="/7-0/admin_guide/partV.html">Managing Performance</a><ul>
                        <li><a href="/7-0/admin_guide/perf_intro.html">Defining Database Performance</a></li>
                        <li><a href="/7-0/admin_guide/perf_issues.html">Common Causes of Performance Issues</a></li>
                        <li><a href="/7-0/admin_guide/wlmgmt_intro.html">Greenplum Database Memory Overview</a></li>
                        <li class="has_submenu"><a href="/7-0/admin_guide/wlmgmt.html">Managing Resources</a><ul>
                              <li><a href="/7-0/admin_guide/workload_mgmt_resgroups.html">Using Resource Groups</a></li>
                              <li><a href="/7-0/admin_guide/workload_mgmt.html">Using Resource Queues</a></li>
                           </ul>
                        </li>
                        <li><a href="/7-0/admin_guide/perf_troubleshoot.html">Investigating a Performance Problem</a></li>
                     </ul>
                  </li>
               </ul>
            </li>
         </ul>
        </div>
      </div>