<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile"> Doc Index</a>
  <div class="nav-content">
  <ul>
    
  <li class="">
    <a href="/7-0/ref_guide/../../7-0/homenav.html">Tanzu Greenplum® 7.0 Beta Documentation</a>
    

  </li>

  <li class="has_submenu">
    <a href="/7-0/ref_guide/ref_guide.html">Reference Guide</a>
    
<ul>

  <li class="has_submenu">
    <a href="/7-0/ref_guide/sql_commands/sql_ref.html">SQL Commands</a>
    
<ul>

  <li class="">
    <a href="/7-0/ref_guide/GPReferenceSQLSummaryLOP.html">SQL Syntax Summary</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ABORT.html">ABORT</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_AGGREGATE.html">ALTER AGGREGATE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_COLLATION.html">ALTER COLLATION</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_CONVERSION.html">ALTER CONVERSION</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_DATABASE.html">ALTER DATABASE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_DEFAULT_PRIVILEGES.html">ALTER DEFAULT PRIVILEGES</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_DOMAIN.html">ALTER DOMAIN</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_EXTENSION.html">ALTER EXTENSION</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_EXTERNAL_TABLE.html">ALTER EXTERNAL TABLE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_FOREIGN_DATA_WRAPPER.html">ALTER FOREIGN DATA WRAPPER</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_FOREIGN_TABLE.html">ALTER FOREIGN TABLE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_FUNCTION.html">ALTER FUNCTION</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_GROUP.html">ALTER GROUP</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_INDEX.html">ALTER INDEX</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_LANGUAGE.html">ALTER LANGUAGE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_MATERIALIZED_VIEW.html">ALTER MATERIALIZED VIEW</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_OPERATOR.html">ALTER OPERATOR</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_OPERATOR_CLASS.html">ALTER OPERATOR CLASS</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_OPERATOR_FAMILY.html">ALTER OPERATOR FAMILY</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_PROTOCOL.html">ALTER PROTOCOL</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_RESOURCE_GROUP.html">ALTER RESOURCE GROUP</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_RESOURCE_QUEUE.html">ALTER RESOURCE QUEUE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_ROLE.html">ALTER ROLE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_SCHEMA.html">ALTER SCHEMA</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_SEQUENCE.html">ALTER SEQUENCE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_SERVER.html">ALTER SERVER</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_TABLE.html">ALTER TABLE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_TABLESPACE.html">ALTER TABLESPACE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_TEXT_SEARCH_CONFIGURATION.html">ALTER TEXT SEARCH CONFIGURATION</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_TEXT_SEARCH_DICTIONARY.html">ALTER TEXT SEARCH DICTIONARY</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_TEXT_SEARCH_PARSER.html">ALTER TEXT SEARCH PARSER</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_TEXT_SEARCH_TEMPLATE.html">ALTER TEXT SEARCH TEMPLATE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_TYPE.html">ALTER TYPE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_USER.html">ALTER USER</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_USER_MAPPING.html">ALTER USER MAPPING</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ALTER_VIEW.html">ALTER VIEW</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ANALYZE.html">ANALYZE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/BEGIN.html">BEGIN</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CHECKPOINT.html">CHECKPOINT</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CLOSE.html">CLOSE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CLUSTER.html">CLUSTER</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/COMMENT.html">COMMENT</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/COMMIT.html">COMMIT</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/COPY.html">COPY</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_AGGREGATE.html">CREATE AGGREGATE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_CAST.html">CREATE CAST</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_COLLATION.html">CREATE COLLATION</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_CONVERSION.html">CREATE CONVERSION</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_DATABASE.html">CREATE DATABASE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_DOMAIN.html">CREATE DOMAIN</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_EXTENSION.html">CREATE EXTENSION</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_EXTERNAL_TABLE.html">CREATE EXTERNAL TABLE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_FOREIGN_DATA_WRAPPER.html">CREATE FOREIGN DATA WRAPPER</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_FOREIGN_TABLE.html">CREATE FOREIGN TABLE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_FUNCTION.html">CREATE FUNCTION</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_GROUP.html">CREATE GROUP</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_INDEX.html">CREATE INDEX</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_LANGUAGE.html">CREATE LANGUAGE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_MATERIALIZED_VIEW.html">CREATE MATERIALIZED VIEW</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_OPERATOR.html">CREATE OPERATOR</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_OPERATOR_CLASS.html">CREATE OPERATOR CLASS</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_OPERATOR_FAMILY.html">CREATE OPERATOR FAMILY</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_PROTOCOL.html">CREATE PROTOCOL</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_RESOURCE_GROUP.html">CREATE RESOURCE GROUP</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_RESOURCE_QUEUE.html">CREATE RESOURCE QUEUE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_ROLE.html">CREATE ROLE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_RULE.html">CREATE RULE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_SCHEMA.html">CREATE SCHEMA</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_SEQUENCE.html">CREATE SEQUENCE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_SERVER.html">CREATE SERVER</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_TABLE.html">CREATE TABLE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_TABLE_AS.html">CREATE TABLE AS</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_TABLESPACE.html">CREATE TABLESPACE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_TEXT_SEARCH_CONFIGURATION.html">CREATE TEXT SEARCH CONFIGURATION</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_TEXT_SEARCH_DICTIONARY.html">CREATE TEXT SEARCH DICTIONARY</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_TEXT_SEARCH_PARSER.html">CREATE TEXT SEARCH PARSER</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_TEXT_SEARCH_TEMPLATE.html">CREATE TEXT SEARCH TEMPLATE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_TYPE.html">CREATE TYPE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_USER.html">CREATE USER</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_USER_MAPPING.html">CREATE USER MAPPING</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/CREATE_VIEW.html">CREATE VIEW</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DEALLOCATE.html">DEALLOCATE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DECLARE.html">DECLARE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DELETE.html">DELETE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DISCARD.html">DISCARD</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DO.html">DO</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_AGGREGATE.html">DROP AGGREGATE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_CAST.html">DROP CAST</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_COLLATION.html">DROP COLLATION</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_CONVERSION.html">DROP CONVERSION</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_DATABASE.html">DROP DATABASE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_DOMAIN.html">DROP DOMAIN</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_EXTENSION.html">DROP EXTENSION</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_EXTERNAL_TABLE.html">DROP EXTERNAL TABLE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_FOREIGN_DATA_WRAPPER.html">DROP FOREIGN DATA WRAPPER</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_FOREIGN_TABLE.html">DROP FOREIGN TABLE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_FUNCTION.html">DROP FUNCTION</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_GROUP.html">DROP GROUP</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_INDEX.html">DROP INDEX</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_LANGUAGE.html">DROP LANGUAGE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_MATERIALIZED_VIEW.html">DROP MATERIALIZED VIEW</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_OPERATOR.html">DROP OPERATOR</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_OPERATOR_CLASS.html">DROP OPERATOR CLASS</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_OPERATOR_FAMILY.html">DROP OPERATOR FAMILY</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_OWNED.html">DROP OWNED</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_PROTOCOL.html">DROP PROTOCOL</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_RESOURCE_GROUP.html">DROP RESOURCE GROUP</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_RESOURCE_QUEUE.html">DROP RESOURCE QUEUE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_ROLE.html">DROP ROLE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_RULE.html">DROP RULE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_SCHEMA.html">DROP SCHEMA</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_SEQUENCE.html">DROP SEQUENCE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_SERVER.html">DROP SERVER</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_TABLE.html">DROP TABLE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_TABLESPACE.html">DROP TABLESPACE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_TEXT_SEARCH_CONFIGURATION.html">DROP TEXT SEARCH CONFIGURATION</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_TEXT_SEARCH_DICTIONARY.html">DROP TEXT SEARCH DICTIONARY</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_TEXT_SEARCH_PARSER.html">DROP TEXT SEARCH PARSER</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_TEXT_SEARCH_TEMPLATE.html">DROP TEXT SEARCH TEMPLATE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_TYPE.html">DROP TYPE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_USER.html">DROP USER</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_USER_MAPPING.html">DROP USER MAPPING</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/DROP_VIEW.html">DROP VIEW</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/END.html">END</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/EXECUTE.html">EXECUTE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/EXPLAIN.html">EXPLAIN</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/FETCH.html">FETCH</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/GRANT.html">GRANT</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/INSERT.html">INSERT</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/LOAD.html">LOAD</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/LOCK.html">LOCK</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/MOVE.html">MOVE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/PREPARE.html">PREPARE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/REASSIGN_OWNED.html">REASSIGN OWNED</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/REFRESH_MATERIALIZED_VIEW.html">REFRESH MATERIALIZED VIEW</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/REINDEX.html">REINDEX</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/RELEASE_SAVEPOINT.html">RELEASE SAVEPOINT</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/RESET.html">RESET</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/RETRIEVE.html">RETRIEVE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/REVOKE.html">REVOKE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ROLLBACK.html">ROLLBACK</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/ROLLBACK_TO_SAVEPOINT.html">ROLLBACK TO SAVEPOINT</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/SAVEPOINT.html">SAVEPOINT</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/SELECT.html">SELECT</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/SELECT_INTO.html">SELECT INTO</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/SET.html">SET</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/SET_CONSTRAINTS.html">SET CONSTRAINTS</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/SET_ROLE.html">SET ROLE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/SET_SESSION_AUTHORIZATION.html">SET SESSION AUTHORIZATION</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/SET_TRANSACTION.html">SET TRANSACTION</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/SHOW.html">SHOW</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/START_TRANSACTION.html">START TRANSACTION</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/TRUNCATE.html">TRUNCATE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/UPDATE.html">UPDATE</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/VACUUM.html">VACUUM</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql_commands/VALUES.html">VALUES</a>
    

  </li>

</ul>


  </li>

  <li class="has_submenu">
    <a href="/7-0/ref_guide/data_types.html">Data Types</a>
    
<ul>

  <li class="">
    <a href="/7-0/ref_guide/datatype-datetime.html">Date&#x2F;Time Types</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/datatype-pseudo.html">Pseudo-Types</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/datatype-textsearch.html">Text Search Data Types</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/datatype-range.html">Range Types</a>
    

  </li>

</ul>


  </li>

  <li class="">
    <a href="/7-0/ref_guide/function-summary.html">Summary of Built-in Functions</a>
    

  </li>

  <li class="has_submenu">
    <a href="/7-0/ref_guide/modules/intro.html">Additional Supplied Modules</a>
    
<ul>

  <li class="">
    <a href="/7-0/ref_guide/modules/adv_passwd_check.html">advanced_password_check</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/modules/auto-explain.html">auto_explain</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/modules/btree_gin.html">btree_gin</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/modules/citext.html">citext</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/modules/dblink.html">dblink</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/modules/diskquota.html">diskquota</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/modules/fuzzystrmatch.html">fuzzystrmatch</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/modules/gp_legacy_string_agg.html">gp_legacy_string_agg</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/modules/gp_sparse_vector.html">gp_sparse_vector</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/modules/hstore.html">hstore</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/modules/orafce_ref.html">orafce</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/modules/pageinspect.html">pageinspect</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/modules/pg_trgm.html">pg_trgm</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/modules/pgcrypto.html">pgcrypto</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/modules/postgres_fdw.html">postgres_fdw</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/modules/sslinfo.html">sslinfo</a>
    

  </li>

</ul>


  </li>

  <li class="">
    <a href="/7-0/ref_guide/character_sets.html">Character Set Support</a>
    

  </li>

  <li class="has_submenu">
    <a href="/7-0/ref_guide/config_params/guc_config.html">Server Configuration Parameters</a>
    
<ul>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_config.html#topic_vsn_22l_z4">Parameter Types and Values</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_config.html#topic_cyz_p2l_z4">Setting Parameters</a>
    

  </li>

  <li class="has_submenu">
    <a href="/7-0/ref_guide/config_params/guc_category-list.html">Parameter Categories</a>
    
<ul>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_category-list.html#topic12">Connection and Authentication Parameters</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_category-list.html#topic15">System Resource Consumption Parameters</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_category-list.html#topic57">GPORCA Parameters</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_category-list.html#topic21">Query Tuning Parameters</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_category-list.html#topic29">Error Reporting and Logging Parameters</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_category-list.html#topic37">Runtime Statistics Collection Parameters</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_category-list.html#topic38">Automatic Statistics Collection Parameters</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_category-list.html#topic39">Client Connection Default Parameters</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_category-list.html#topic43">Lock Management Parameters</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_category-list.html#topic44">Resource Management Parameters (Resource Queues)</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_category-list.html#topic444">Resource Management Parameters (Resource Groups)</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_category-list.html#topic45">External Table Parameters</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_category-list.html#topic46">Database Table Parameters</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_category-list.html#topic48">Past Version Compatibility Parameters</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_category-list.html#topic49">Greenplum Database Array Configuration Parameters</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_category-list.html#topic55">Greenplum Mirroring Parameters for Master and Segments</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_category-list.html#topic56">Greenplum PL&#x2F;Java Parameters</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc_category-list.html#topic_t3n_qml_rz">XML Data Parameters</a>
    

  </li>

</ul>


  </li>

  <li class="has_submenu">
    <a href="/7-0/ref_guide/config_params/guc-list.html">Configuration Parameters</a>
    
<ul>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#application_name">application_name</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#array_nulls">array_nulls</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#authentication_timeout">authentication_timeout</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#backslash_quote">backslash_quote</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#block_size">block_size</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#bonjour_name">bonjour_name</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#check_function_bodies">check_function_bodies</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#client_connection_check_interval">client_connection_check_interval</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#client_encoding">client_encoding</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#client_min_messages">client_min_messages</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#cpu_index_tuple_cost">cpu_index_tuple_cost</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#cpu_operator_cost">cpu_operator_cost</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#cpu_tuple_cost">cpu_tuple_cost</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#cursor_tuple_fraction">cursor_tuple_fraction</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#data_checksums">data_checksums</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#DateStyle">DateStyle</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#db_user_namespace">db_user_namespace</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#deadlock_timeout">deadlock_timeout</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#debug_assertions">debug_assertions</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#debug_pretty_print">debug_pretty_print</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#debug_print_parse">debug_print_parse</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#debug_print_plan">debug_print_plan</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#debug_print_prelim_plan">debug_print_prelim_plan</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#debug_print_rewritten">debug_print_rewritten</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#debug_print_slice_table">debug_print_slice_table</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#default_statistics_target">default_statistics_target</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#default_tablespace">default_tablespace</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#default_text_search_config">default_text_search_config</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#default_transaction_deferrable">default_transaction_deferrable</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#default_transaction_isolation">default_transaction_isolation</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#default_transaction_read_only">default_transaction_read_only</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#dynamic_library_path">dynamic_library_path</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#effective_cache_size">effective_cache_size</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#enable_bitmapscan">enable_bitmapscan</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#enable_groupagg">enable_groupagg</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#enable_hashagg">enable_hashagg</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#enable_hashjoin">enable_hashjoin</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#enable_indexscan">enable_indexscan</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#enable_mergejoin">enable_mergejoin</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#enable_nestloop">enable_nestloop</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#enable_seqscan">enable_seqscan</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#enable_sort">enable_sort</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#enable_tidscan">enable_tidscan</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#escape_string_warning">escape_string_warning</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#explain_pretty_print">explain_pretty_print</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#extra_float_digits">extra_float_digits</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#from_collapse_limit">from_collapse_limit</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_adjust_selectivity_for_outerjoins">gp_adjust_selectivity_for_outerjoins</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_appendonly_compaction">gp_appendonly_compaction</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_appendonly_compaction_threshold">gp_appendonly_compaction_threshold</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_autostats_allow_nonowner">gp_autostats_allow_nonowner</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_autostats_mode">gp_autostats_mode</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_autostats_mode_in_functions">gp_autostats_mode_in_functions</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_autostats_on_change_threshold">gp_autostats_on_change_threshold</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_cached_segworkers_threshold">gp_cached_segworkers_threshold</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_command_count">gp_command_count</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_connection_send_timeout">gp_connection_send_timeout</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_content">gp_content</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_create_table_random_default_distribution">gp_create_table_random_default_distribution</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_dbid">gp_dbid</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_debug_linger">gp_debug_linger</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_default_storage_options">gp_default_storage_options</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_dispatch_keepalives_count">gp_dispatch_keepalives_count</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_dispatch_keepalives_idle">gp_dispatch_keepalives_idle</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_dispatch_keepalives_interval">gp_dispatch_keepalives_interval</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_dynamic_partition_pruning">gp_dynamic_partition_pruning</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_enable_agg_distinct">gp_enable_agg_distinct</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_enable_agg_distinct_pruning">gp_enable_agg_distinct_pruning</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_enable_direct_dispatch">gp_enable_direct_dispatch</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_enable_exchange_default_partition">gp_enable_exchange_default_partition</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_enable_fast_sri">gp_enable_fast_sri</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_enable_groupext_distinct_gather">gp_enable_groupext_distinct_gather</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_enable_groupext_distinct_pruning">gp_enable_groupext_distinct_pruning</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_enable_multiphase_agg">gp_enable_multiphase_agg</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_enable_predicate_propagation">gp_enable_predicate_propagation</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_enable_preunique">gp_enable_preunique</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_enable_query_metrics">gp_enable_query_metrics</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_enable_relsize_collection">gp_enable_relsize_collection</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_enable_segment_copy_checking">gp_enable_segment_copy_checking</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_enable_sort_distinct">gp_enable_sort_distinct</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_enable_sort_limit">gp_enable_sort_limit</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_external_enable_exec">gp_external_enable_exec</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_external_max_segs">gp_external_max_segs</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_external_enable_filter_pushdown">gp_external_enable_filter_pushdown</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_fts_probe_interval">gp_fts_probe_interval</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_fts_probe_retries">gp_fts_probe_retries</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_fts_probe_timeout">gp_fts_probe_timeout</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_fts_replication_attempt_count">gp_fts_replication_attempt_count</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_global_deadlock_detector_period">gp_global_deadlock_detector_period</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_hashjoin_tuples_per_bucket">gp_hashjoin_tuples_per_bucket</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_ignore_error_table">gp_ignore_error_table</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#topic_lvm_ttc_3p">gp_initial_bad_row_limit</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_instrument_shmem_size">gp_instrument_shmem_size</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_interconnect_debug_retry_interval">gp_interconnect_debug_retry_interval</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_interconnect_fc_method">gp_interconnect_fc_method</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_interconnect_proxy_addresses">gp_interconnect_proxy_addresses</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_interconnect_queue_depth">gp_interconnect_queue_depth</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_interconnect_setup_timeout">gp_interconnect_setup_timeout</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_interconnect_snd_queue_depth">gp_interconnect_snd_queue_depth</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_interconnect_transmit_timeout">gp_interconnect_transmit_timeout</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_interconnect_type">gp_interconnect_type</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_log_format">gp_log_format</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_log_fts">gp_log_fts</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_log_gang">gp_log_gang</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_log_interconnect">gp_log_interconnect</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_max_local_distributed_cache">gp_max_local_distributed_cache</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_max_packet_size">gp_max_packet_size</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_max_plan_size">gp_max_plan_size</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_max_slices">gp_max_slices</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#memory_spill_ratio">memory_spill_ratio</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_motion_cost_per_row">gp_motion_cost_per_row</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_recursive_cte">gp_recursive_cte</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_reject_percent_threshold">gp_reject_percent_threshold</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_reraise_signal">gp_reraise_signal</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_resqueue_memory_policy">gp_resqueue_memory_policy</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_resqueue_priority">gp_resqueue_priority</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_resqueue_priority_cpucores_per_segment">gp_resqueue_priority_cpucores_per_segment</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_resqueue_priority_sweeper_interval">gp_resqueue_priority_sweeper_interval</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_resgroup_memory_policy">gp_resgroup_memory_policy</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_resource_group_bypass">gp_resource_group_bypass</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_resource_group_cpu_ceiling_enforcement">gp_resource_group_cpu_ceiling_enforcement</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_resource_group_cpu_limit">gp_resource_group_cpu_limit</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_resource_group_memory_limit">gp_resource_group_memory_limit</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_resource_group_queuing_timeout">gp_resource_group_queuing_timeout</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_resource_manager">gp_resource_manager</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_retrieve_conn">gp_retrieve_conn</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_role">gp_role</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_segment_connect_timeout">gp_segment_connect_timeout</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_segments_for_planner">gp_segments_for_planner</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_server_version">gp_server_version</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_server_version_num">gp_server_version_num</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_session_id">gp_session_id</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_set_proc_affinity">gp_set_proc_affinity</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_set_read_only">gp_set_read_only</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_statistics_pullup_from_child_partition">gp_statistics_pullup_from_child_partition</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_statistics_use_fkeys">gp_statistics_use_fkeys</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_use_legacy_hashops">gp_use_legacy_hashops</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_vmem_idle_resource_timeout">gp_vmem_idle_resource_timeout</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_vmem_protect_limit">gp_vmem_protect_limit</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_vmem_protect_segworker_cache_limit">gp_vmem_protect_segworker_cache_limit</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_workfile_compression">gp_workfile_compression</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_workfile_limit_files_per_query">gp_workfile_limit_files_per_query</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_workfile_limit_per_query">gp_workfile_limit_per_query</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gp_workfile_limit_per_segment">gp_workfile_limit_per_segment</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#gpfdist_retry_timeout">gpfdist_retry_timeout</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#ignore_checksum_failure">ignore_checksum_failure</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#integer_datetimes">integer_datetimes</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#IntervalStyle">IntervalStyle</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#join_collapse_limit">join_collapse_limit</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#krb_caseins_users">krb_caseins_users</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#krb_server_keyfile">krb_server_keyfile</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#lc_collate">lc_collate</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#lc_ctype">lc_ctype</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#lc_messages">lc_messages</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#lc_monetary">lc_monetary</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#lc_numeric">lc_numeric</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#lc_time">lc_time</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#listen_addresses">listen_addresses</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#local_preload_libraries">local_preload_libraries</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#lock_timeout">lock_timeout</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_autostats">log_autostats</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_connections">log_connections</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_disconnections">log_disconnections</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_dispatch_stats">log_dispatch_stats</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_duration">log_duration</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_error_verbosity">log_error_verbosity</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_executor_stats">log_executor_stats</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_file_mode">log_file_mode</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_hostname">log_hostname</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_min_duration_statement">log_min_duration_statement</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_min_error_statement">log_min_error_statement</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_min_messages">log_min_messages</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_parser_stats">log_parser_stats</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_planner_stats">log_planner_stats</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_rotation_age">log_rotation_age</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_rotation_size">log_rotation_size</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_statement">log_statement</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_statement_stats">log_statement_stats</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_temp_files">log_temp_files</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_timezone">log_timezone</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#log_truncate_on_rotation">log_truncate_on_rotation</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#maintenance_work_mem">maintenance_work_mem</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#max_appendonly_tables">max_appendonly_tables</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#max_connections">max_connections</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#max_files_per_process">max_files_per_process</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#max_function_args">max_function_args</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#max_identifier_length">max_identifier_length</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#max_index_keys">max_index_keys</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#max_locks_per_transaction">max_locks_per_transaction</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#max_prepared_transactions">max_prepared_transactions</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#max_resource_portals_per_transaction">max_resource_portals_per_transaction</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#max_resource_queues">max_resource_queues</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#max_stack_depth">max_stack_depth</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#max_statement_mem">max_statement_mem</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer">optimizer</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_array_expansion_threshold">optimizer_array_expansion_threshold</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_analyze_root_partition">optimizer_analyze_root_partition</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_control">optimizer_control</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_cost_model">optimizer_cost_model</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_cte_inlining_bound">optimizer_cte_inlining_bound</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_dpe_stats">optimizer_dpe_stats</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_enable_associativity">optimizer_enable_associativity</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_enable_dml">optimizer_enable_dml</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_enable_indexonlyscan">optimizer_enable_indexonlyscan</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_enable_master_only_queries">optimizer_enable_master_only_queries</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_enable_multiple_distinct_aggs">optimizer_enable_multiple_distinct_aggs</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_force_agg_skew_avoidance">optimizer_force_agg_skew_avoidance</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_force_comprehensive_join_implementation">optimizer_force_comprehensive_join_implementation</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_force_multistage_agg">optimizer_force_multistage_agg</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_force_three_stage_scalar_dqa">optimizer_force_three_stage_scalar_dqa</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_join_arity_for_associativity_commutativity">optimizer_join_arity_for_associativity_commutativity</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_join_order">optimizer_join_order</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_join_order_threshold">optimizer_join_order_threshold</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_mdcache_size">optimizer_mdcache_size</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_metadata_caching">optimizer_metadata_caching</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_minidump">optimizer_minidump</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_nestloop_factor">optimizer_nestloop_factor</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_parallel_union">optimizer_parallel_union</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_penalize_skew">optimizer_penalize_skew</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_print_missing_stats">optimizer_print_missing_stats</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_print_optimization_stats">optimizer_print_optimization_stats</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_sort_factor">optimizer_sort_factor</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_use_gpdb_allocators">optimizer_use_gpdb_allocators</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#optimizer_xform_bind_threshold">optimizer_xform_bind_threshold</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#password_encryption">password_encryption</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#plan_cache_mode">plan_cache_mode</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#pljava_classpath">pljava_classpath</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#pljava_classpath_insecure">pljava_classpath_insecure</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#pljava_statement_cache_size">pljava_statement_cache_size</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#pljava_release_lingering_savepoints">pljava_release_lingering_savepoints</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#pljava_vmoptions">pljava_vmoptions</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#port">port</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#quote_all_identifiers">quote_all_identifiers</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#random_page_cost">random_page_cost</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#readable_external_table_timeout">readable_external_table_timeout</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#repl_catchup_within_range">repl_catchup_within_range</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#replication_timeout">wal_sender_timeout</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#regex_flavor">config_params&#x2F;guc-list.xml#regex_flavor</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#resource_cleanup_gangs_on_wait">resource_cleanup_gangs_on_wait</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#resource_select_only">resource_select_only</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#runaway_detector_activation_percent">runaway_detector_activation_percent</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#search_path">search_path</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#seq_page_cost">seq_page_cost</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#server_encoding">server_encoding</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#server_version">server_version</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#server_version_num">server_version_num</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#shared_buffers">shared_buffers</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#shared_preload_libraries">shared_preload_libraries</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#ssl">ssl</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#ssl_ciphers">ssl_ciphers</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#standard_conforming_strings">standard_conforming_strings</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#statement_mem">statement_mem</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#statement_timeout">statement_timeout</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#stats_queue_level">stats_queue_level</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#superuser_reserved_connections">superuser_reserved_connections</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#tcp_keepalives_count">tcp_keepalives_count</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#tcp_keepalives_idle">tcp_keepalives_idle</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#tcp_keepalives_interval">tcp_keepalives_interval</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#temp_buffers">temp_buffers</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#topic_k52_fqm_f3b">temp_tablespaces</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#TimeZone">TimeZone</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#timezone_abbreviations">timezone_abbreviations</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#track_activities">track_activities</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#track_activity_query_size">track_activity_query_size</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#track_counts">track_counts</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#transaction_isolation">transaction_isolation</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#transaction_read_only">transaction_read_only</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#transform_null_equals">transform_null_equals</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#unix_socket_directory">unix_socket_directories</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#unix_socket_group">unix_socket_group</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#unix_socket_permissions">unix_socket_permissions</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#update_process_title">update_process_title</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#vacuum_cost_delay">vacuum_cost_delay</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#vacuum_cost_limit">vacuum_cost_limit</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#vacuum_cost_page_dirty">vacuum_cost_page_dirty</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#vacuum_cost_page_hit">vacuum_cost_page_hit</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#vacuum_cost_page_miss">vacuum_cost_page_miss</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#vacuum_freeze_min_age">vacuum_freeze_min_age</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#validate_previous_free_tid">validate_previous_free_tid</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#verify_gpfdists_cert">verify_gpfdists_cert</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#vmem_process_interrupt">vmem_process_interrupt</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#wait_for_replication_threshold">wait_for_replication_threshold</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#wal_keep_segments">wal_keep_segments</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#wal_receiver_status_interval">wal_receiver_status_interval</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#writable_external_table_bufsize">writable_external_table_bufsize</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#xid_stop_limit">xid_stop_limit</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/config_params/guc-list.html#xid_warn_limit">xid_warn_limit</a>
    

  </li>

</ul>


  </li>

</ul>


  </li>

  <li class="has_submenu">
    <a href="/7-0/ref_guide/system_catalogs/catalog_ref.html">System Catalogs</a>
    
<ul>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/catalog_ref-tables.html#topic1">System Tables</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/catalog_ref-views.html#topic1">System Views</a>
    

  </li>

  <li class="has_submenu">
    <a href="/7-0/ref_guide/system_catalogs/catalog_ref-html.html#topic1">System Catalogs Definitions</a>
    
<ul>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/foreign_data_wrapper_options.html">foreign_data_wrapper_options</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/foreign_data_wrappers.html">foreign_data_wrappers</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/foreign_server_options.html">foreign_server_options</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/foreign_servers.html">foreign_servers</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/foreign_table_options.html">foreign_table_options</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/foreign_tables.html">foreign_tables</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_configuration_history.html">gp_configuration_history</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_distributed_log.html">gp_distributed_log</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_distributed_xacts.html">gp_distributed_xacts</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_distribution_policy.html">gp_distribution_policy</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gpexpand_expansion_progress.html">gpexpand.expansion_progress</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_endpoints.html">gp_endpoints</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_expansion_status.html">gpexpand.status</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_expansion_tables.html">gpexpand.status_detail</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_fastsequence.html">gp_fastsequence</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_id.html">gp_id</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_pgdatabase.html">gp_pgdatabase</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_resgroup_config.html">gp_resgroup_config</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_resgroup_status.html">gp_resgroup_status</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_resgroup_status_per_host.html">gp_resgroup_status_per_host</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_resgroup_status_per_segment.html">gp_resgroup_status_per_segment</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_resqueue_status.html">gp_resqueue_status</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_segment_configuration.html">gp_segment_configuration</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_segment_endpoints.html">gp_segment_endpoints</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_session_endpoints.html">gp_session_endpoints</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_stat_replication.html">gp_stat_replication</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_transaction_log.html">gp_transaction_log</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/gp_version_at_initdb.html">gp_version_at_initdb</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_aggregate.html">pg_aggregate</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_am.html">pg_am</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_amop.html">pg_amop</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_amproc.html">pg_amproc</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_appendonly.html">pg_appendonly</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_attrdef.html">pg_attrdef</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_attribute.html">pg_attribute</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_attribute_encoding.html">pg_attribute_encoding</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_auth_members.html">pg_auth_members</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_authid.html">pg_authid</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_available_extension_versions.html">pg_available_extension_versions</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_available_extensions.html">pg_available_extensions</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_cast.html">pg_cast</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_class.html">pg_class</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_compression.html">pg_compression</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_constraint.html">pg_constraint</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_conversion.html">pg_conversion</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_cursors.html">pg_cursors</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_database.html">pg_database</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_db_role_setting.html">pg_db_role_setting</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_depend.html">pg_depend</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_description.html">pg_description</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_enum.html">pg_enum</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_extension.html">pg_extension</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_exttable.html">pg_exttable</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_foreign_data_wrapper.html">pg_foreign_data_wrapper</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_foreign_server.html">pg_foreign_server</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_foreign_table.html">pg_foreign_table</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_index.html">pg_index</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_inherits.html">pg_inherits</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_language.html">pg_language</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_largeobject.html">pg_largeobject</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_listener.html">pg_listener</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_locks.html">pg_locks</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_matviews.html">pg_matviews</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_max_external_files.html">pg_max_external_files</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_namespace.html">pg_namespace</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_opclass.html">pg_opclass</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_operator.html">pg_operator</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_opfamily.html">pg_opfamily</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_partition.html">pg_partition</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_partition_columns.html">pg_partition_columns</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_partition_encoding.html">pg_partition_encoding</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_partition_rule.html">pg_partition_rule</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_partition_templates.html">pg_partition_templates</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_partitions.html">pg_partitions</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_pltemplate.html">pg_pltemplate</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_proc.html">pg_proc</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_resgroup.html">pg_resgroup</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_resgroupcapability.html">pg_resgroupcapability</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_resourcetype.html">pg_resourcetype</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_resqueue.html">pg_resqueue</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_resqueue_attributes.html">pg_resqueue_attributes</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_resqueuecapability.html">pg_resqueuecapability</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_rewrite.html">pg_rewrite</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_roles.html">pg_roles</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_rules.html">pg_rules</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_shdepend.html">pg_shdepend</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_shdescription.html">pg_shdescription</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_stat_activity.html">pg_stat_activity</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_stat_indexes.html">pg_stat_all_indexes</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_stat_tables.html">pg_stat_all_tables</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_stat_last_operation.html">pg_stat_last_operation</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_stat_last_shoperation.html">pg_stat_last_shoperation</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_stat_operations.html">pg_stat_operations</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_stat_partition_operations.html">pg_stat_partition_operations</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_stat_replication.html">pg_stat_replication</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_statistic.html">pg_statistic</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_stats_resqueue.html">pg_stat_resqueues</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_tablespace.html">pg_tablespace</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_trigger.html">pg_trigger</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_type.html">pg_type</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_type_encoding.html">pg_type_encoding</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_user_mapping.html">pg_user_mapping</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/pg_user_mappings.html">pg_user_mappings</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/user_mapping_options.html">user_mapping_options</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/system_catalogs/user_mappings.html">user_mappings</a>
    

  </li>

</ul>


  </li>

</ul>


  </li>

  <li class="has_submenu">
    <a href="/7-0/ref_guide/gp_toolkit.html">The gp_toolkit Administrative Schema</a>
    
<ul>

  <li class="">
    <a href="/7-0/ref_guide/gp_toolkit.html#topic2">Checking for Tables that Need Routine Maintenance</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/gp_toolkit.html#topic5">Checking for Locks</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/gp_toolkit.html#topic8">Checking Append-Optimized Tables</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/gp_toolkit.html#topic16">Viewing Greenplum Database Server Log Files</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/gp_toolkit.html#topic21">Checking Server Configuration Files</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/gp_toolkit.html#topic24">Checking for Failed Segments</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/gp_toolkit.html#topic26x">Checking Resource Group Activity and Status</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/gp_toolkit.html#topic26">Checking Resource Queue Activity and Status</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/gp_toolkit.html#topic32">Checking Query Disk Spill Space Usage</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/gp_toolkit.html#topic36">Viewing Users and Groups (Roles)</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/gp_toolkit.html#topic38">Checking Database Object Sizes and Disk Space</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/gp_toolkit.html#topic49">Checking for Uneven Data Distribution</a>
    

  </li>

</ul>


  </li>

  <li class="has_submenu">
    <a href="/7-0/ref_guide/extensions/srvapi_intro.html">Server Programmatic Interfaces</a>
    
<ul>

  <li class="">
    <a href="/7-0/ref_guide/extensions/gppc.html">Greenplum Partner Connector API</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/extensions/bgworker.html">Developing a Background Worker Process</a>
    

  </li>

</ul>


  </li>

  <li class="has_submenu">
    <a href="/7-0/ref_guide/misc.html">SQL Features, Reserved and Key Words, and Compliance</a>
    
<ul>

  <li class="">
    <a href="/7-0/ref_guide/feature_summary.html">Summary of Greenplum Features</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/sql-keywords.html">Reserved Identifiers and SQL Key Words</a>
    

  </li>

  <li class="">
    <a href="/7-0/ref_guide/SQL2008_support.html">SQL 2008 Optional Feature Compliance</a>
    

  </li>

</ul>


  </li>

</ul>


  </li>

</ul>

  </div>
</div>