<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile"> Doc Index</a>
  <div class="nav-content">
  <ul>
    
  <li class="">
    <a href="/7-0/client_tool_guides/../main/index.html">VMware Tanzu Greenplum 7.0 Documentation</a>
    

  </li>

  <li class="has_submenu">
  <a href="/7-0/utility_guide/utility_guide.html">Utility Guide</a>
  
<ul>

<li class="">
  <a href="/7-0/utility_guide/about-utils.html">About the Greenplum Database Utilities</a>
  

</li>

<li class="has_submenu">
  <a href="/7-0/utility_guide/utility-programs.html">Utility Reference</a>
  
<ul>

<li class="">
  <a href="/7-0/utility_guide/ref/analyzedb.html">analyzedb</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/clusterdb.html">clusterdb</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/createdb.html">createdb</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/createuser.html">createuser</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/dropdb.html">dropdb</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/dropuser.html">dropuser</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpactivatestandby.html">gpactivatestandby</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpaddmirrors.html">gpaddmirrors</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpbackup_manager.html">gpbackup_manager</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpbackup.html">gpbackup</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpcheckcat.html">gpcheckcat</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpcheckperf.html">gpcheckperf</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpconfig.html">gpconfig</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpcopy.html">gpcopy</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpdeletesystem.html">gpdeletesystem</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpexpand.html">gpexpand</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpfdist.html">gpfdist</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpinitstandby.html">gpinitstandby</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpinitsystem.html">gpinitsystem</a>
  

</li>

<li class="">
  <a href="https://greenplum.docs.pivotal.io/streaming-server/1-5/ref/gpss-ref.html">gpkafka</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpload.html">gpload</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gplogfilter.html">gplogfilter</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpmapreduce.html">gpmapreduce</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpmapreduce-yaml.html">gpmapreduce.yaml</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpmemreport.html">gpmemreport</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpmemwatcher.html">gpmemwatcher</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpmovemirrors.html">gpmovemirrors</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpmt.html">gpmt</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gppkg.html">gppkg</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gprecoverseg.html">gprecoverseg</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpreload.html">gpreload</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gprestore.html">gprestore</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpscp.html">gpscp</a>
  

</li>

<li class="">
  <a href="https://greenplum.docs.pivotal.io/streaming-server/1-5/ref/gpss-ref.html">gpss</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpssh.html">gpssh</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpssh-exkeys.html">gpssh-exkeys</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpstart.html">gpstart</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpstate.html">gpstate</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/gpstop.html">gpstop</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/pg_config.html">pg_config</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/pg_dump.html">pg_dump</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/pg_dumpall.html">pg_dumpall</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/pg_restore.html">pg_restore</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/plcontainer.html">plcontainer </a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/plcontainer-configuration.html">plcontainer Configuration File</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/psql.html">psql</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/../../pxf/latest/ref/pxf.html">pxf</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/../../pxf/latest/ref/pxf-cluster.html">pxf cluster</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/reindexdb.html">reindexdb</a>
  

</li>

<li class="">
  <a href="/7-0/utility_guide/ref/vacuumdb.html">vacuumdb</a>
  

</li>

</ul>


</li>

<li class="has_submenu">
  <a href="/7-0/utility_guide/contrib-programs.html">Additional Supplied Programs</a>
  
<ul>

<li class="">
  <a href="https://www.postgresql.org/docs/9.4/pgupgrade.html">pg_upgrade</a>
  

</li>

<li class="">
  <a href="https://www.postgresql.org/docs/9.4/pgxlogdump.html">pg_xlogdump</a>
  

</li>

</ul>


</li>

</ul>


</li>


</ul>

  </div>
</div>